.tabla {
    background-color: red;
    height: 2000px;
    width: 50%;
    display: inline-block;
}

.formulario {
    background-color: purple;
    width: 50%;
    display: inline-block;
    position: fixed;
}

.buscador {
    background-color: blue;
}