.tabla {
    background-color: red;
    height: 2000px;
    width: 50%;
    display: inline-block;
}

.formulario {
    background-color: green;
    width: 50%;
    display: inline-block;
    position: fixed;
}

.buscador {
    background-color: blue;
}

h1 {
    text-align: center;
}